* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.content {
    width: 980px;
    max-width: 100%;
}

.box-size {
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalCenter {
    align-items: center;
}

.horizontalCenter {
    justify-content: center;
}

.flex {
    display:flex;
}

.between {
    justify-content: space-between;
}

/* header styles */
.headerSection {
    background-color: rgba(26, 30, 31, 1);
}

.header {
    height: 84px;
}


.list {
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.list a{
    text-decoration: white;
}

.list a:active{
    color: rgba(0, 173, 238, 1);
}

.list a:visited{
    color: rgba(0, 173, 238, 1);
}

.navContent {
    font-size: 16px;
    font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
    color: white;
    line-height: 26px;
}

.navContent:hover {
    color: rgba(0, 173, 238, 1);
    cursor: pointer;
}
