* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans Georgian, sans-serif;
    transition: 0.4s;
}

main {
    width: 100%;
}

.box-size {
    width: 100%;
}

.content {
    width: 980px;
    max-width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display:flex;
}

.between {
    justify-content: space-between;
}

.end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.verticalCenter {
    align-items: center;
}

.horizontalCenter {
    justify-content: center;
}


/* header styles */

#header {
    background-color: rgba(26, 30, 31, 1);
    height: 84px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}

.sec-2 {
    margin-top: 84px;
}

.list {
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.list a{
    text-decoration: white;
}

.list a:active{
    color: rgba(0, 173, 238, 1);
}

.list a:visited{
    color: rgba(0, 173, 238, 1);
}

.navContent {
    font-size: 16px;
    color: white;
    line-height: 26px;
}

.navContent:hover {
    color: rgba(0, 173, 238, 1);
    cursor: pointer;
}

#burger-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 1002;
    height: 20px;
    width: 30px;
}

#burger-icon div {
    height: 4px;
    background-color: #fff;
    transition: 0.4s;
    position: absolute;
    border-radius: 4px;
    transition: 0.4s;
}
#burger-top {
    width: 15px;
    top: 0;
    left: 0;
    z-index: 1003;
    
}

.burger-top {
    transform: rotate(-135deg)!important;
    top: 3px!important;
    background-color: #8C8C8C!important;
}

#burger-bot {
    width: 15px;
    bottom: 0;
    right: 0;
    z-index: 1005;
}

.burger-bot {
    transform: rotate(-135deg)!important;
    right: 3px!important;
    bottom: 2px!important;
    width: 17px!important;
    background-color: #8C8C8C!important;
}

#burger-mid {
    width: 30px;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 1004;
}


#burger-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(43, 43, 43, 1);
}
#burger-menu-nav {
    position: fixed;
    align-items: flex-end;
    right: -100%;
    width: 60%;
    height: 100%;
    padding-top: 80px;
    background-color: rgba(43, 43, 43, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}
#burger-menu-nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
    margin-right: 15px;
    white-space: nowrap;
}

#burger-menu-nav a:visited {
    color: rgba(0, 173, 238, 1);
}

#closeburger {
    width: 21px;
    height: 21px;
    fill: #8C8C8C;
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
}

/* image & about styles*/

.image-people {
    background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_980,h_352,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
    height: 352px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
    background-color: rgba(43, 43, 43, 1);
    padding: 70px 0px;
}

.text-section1-1 {
    font-size: 42px;
    color: rgba(244, 244, 244, 1);
    font-weight: 900;
}

.text-section1-2 {
    font-size: 28px;
    color: rgba(244, 244, 244, 1);
    line-height: 1.6em;
}

.text-section1-3 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
    color: rgba(0, 173, 238, 1);
    display: inline-block;
    text-decoration: none;
}

.text-section1-3:hover {
    color: rgba(85, 85, 85, 1);
    cursor: pointer;
}

/* courses  styles*/

.coursesSection {
    background-color: rgba(26, 30, 31, 1);
    padding: 30px 0px;
}

.courses-text {
    font-size: 24px;
    color: #DBDBDB;
}

.course-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 50px 0px;
}

.grid-item {
    width: 300px;
    height: 414px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.grid-image {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.grid-text {
    margin: 20px;
}

.grid-text-1 {
    height: 55px;
    font-size: 18px;
    color: #DBDBDB;
    font-weight: 500;
}

.grid-text-2 {
    margin-bottom: 40px;
    font-size: 14px;
    color: #DBDBDB;
    font-weight: 600;
}

.grid-text-3 {
    margin-top: 50px;
    font-size: 18px;
    color: rgba(0, 173, 238, 1);
    font-weight: 700;
}

.course-details {
    margin-left: 10px;
    padding-bottom: 9px;
}

.course-details:hover {
    color: rgba(0, 150, 200, 1);
    cursor: pointer;
}

/* partners section styles */

.slider-area {
    background-color: rgba(43, 43, 43, 1);
}

.partners-p {
    font-size: 28px;
    color: #DBDBDB;
    padding: 30px 0px 40px;
}

.slider-container {
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    position: relative;
    height: 224px;
    margin-bottom: 30px;
    transition: transform 0.4s ease;
}

.slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}


#slider button {
    color: white;
    align-self: center;
    line-height: 24px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(170,170,170,1);
    position: absolute;
    z-index: 5;
}
#slider button:hover{
    color: rgba(170,170,170,0.5);
}
.prev {
    justify-self: start;
    left: 50px;
    margin-bottom: 30px;
}

.next {
    right: 50px;
    justify-self: end;
    margin-bottom: 30px;
}
.slider-nav {
    position: absolute;
    gap: 12px;
    width: 42px;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}
.slider-nav span {
    width: 6px;
    height: 6px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}

/* questions section styles */

.questions-color {
    background-color: rgba(22, 22, 22, 1);
}

.questionsWidth {
    padding: 60px 40px 80px;
}

.often {
    font-size: 24px;
    color: #DBDBDB;
    padding: 40px 0px 20px;
}

.allquestions {
    font-size: 22px;
    font-weight: 700;
    color: rgba(0, 173, 238, 1);
    padding: 40px 0px 20px;
}
.allquestions-mobile {
    display: none;
}

.allquestions a:hover {
    color: rgba(85, 85, 85, 1);
    cursor: pointer;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(53, 49, 49);
}

.question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0px;
    font-size: 18px;
    background-color: rgba(22, 22, 22, 1);
    color: #DBDBDB;
    overflow: hidden;
    transition: ease-in-out;
}

.answer {
    height: 0px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border: none;
    font-size: 14px / 12.2em;
    line-height: 27px;
    background-color: rgba(22, 22, 22, 1);
    color: #DBDBDB;
    border-top: none;
    overflow: hidden;
}

.arrow {
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow svg {
    fill: white;
}
.open {
    transform: rotateX(180deg);
}

.top-p {
    padding-bottom: 40px;
}

.bottom-p {
    padding-top: 40px;
}

.just-p {
    padding: 0px 20px;
}



/* footer styles */

.footer {
    background-color:  rgba(26, 30, 31, 1);
}

.table {
    padding-top: 55px;
}

.table-row {
    display: flex;
    justify-content: space-between;
}

.margin-1 {
    margin-top: 17px;
}

.margin-2 {
    padding-top: 20px;
    padding-bottom: 5px;
}

.table-cell {
    background-color: rgba(26, 30, 31, 1);
    color: #DBDBDB;
    font-weight: 550;
    flex: 1;
}
.social-icons img{
    cursor: pointer;
    border-radius: 50%;
}

.fb-link {
    margin-right: 10px;
}

.cell3-1 {
    margin-top: 14px;
    cursor: pointer;
}

.bottom-row {
    margin-bottom: 42px;
}

.table-row button {
    font-size: 19px;
    padding: 7px 32px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 173, 238, 1);
}
.table-row button:hover{
    background-color: #DBDBDB;
    color: rgb(26, 30, 31);
}
.contact-mobile {
    display: none;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background 0.3s ease; /* Smooth background transition */
}

#sideMenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background: rgba(43, 43, 43, 1);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: right 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#closemenu {
    width: 21px;
    height: 21px!important;
    position: absolute;
    fill: #8C8C8C;
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
    z-index: 1006;
}

#sideMenu h2 {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.4em;
    color: #8C8C8C;
    letter-spacing: 2px;
}

.policiesText {
    padding: 15px 35px;
    color: #8C8C8C;
}

.policiesText p {
    margin: 20px 0px;
    
}

#closebuttonbottom {
    margin: 80px 35px 0px;
    padding: 20px 0px;
    border-radius: 5px;
    border: none;
    color: rgba(43, 43, 43, 1);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

#closebuttonbottom:hover {
    background-color: rgba(0, 173, 238, 1);
    color: white;
    cursor: pointer;
}

/* responsive styles */
@media screen and (min-width: 601px) and (max-width: 1023px) {
    .content{
        padding: 0px 20px;
    }
    .list {
        gap: 25px;
    }
    
    .partners-p{
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    #slider {
        height: 371px;
    }
    #slider .slide {
        gap: 30px;
        flex-direction: column;
    }
    .slider-nav {
        bottom: -100px;
    }
    .next {
        margin-bottom: 140px;
    }
    .prev{
        margin-bottom: 140px;
    }
    .course-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .grid-item {
        justify-self: center;
    }
}

@media screen and (max-width: 600px) {
    #header {
        height: 69px;
    }
    .sec-2 {
        margin-top: 69px    ;
    }
    .content{
        padding: 0px 20px;
    }
    .list {
        display: none;
    }
    #burger-icon {
        display: flex;
    }
    .text-section1-1{
        font-size: 24px;
    }
    .text-section1-2{
        font-size: 16px;
    }
    .course-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .courses-text {
        text-align: center;
    }
    .allquestions {
        display: none;
    }
    .allquestions-mobile {
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: rgba(0, 173, 238, 1);
        padding: 40px 0px 20px;
        text-align: center;
    }
    
    .allquestions-mobile a:hover {
        color: rgba(85, 85, 85, 1);
        cursor: pointer;
    }
    .questionsWidth{
        padding: 30px 0px;
    }
    .question {
        font-size: 16px;
    }
    .often {
        font-size: 20px;
        font-weight: 500;
        padding: 0px;
    }
    .contact {
        display: none;
    }
    .table-row .contact-mobile {
        padding: 5px 12px;
        height: 35px;
        display: flex;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }
    .margin-1 {
        margin-top: 25px;
        flex-direction: column;
        gap: 25px;
        order: 1;
    }
    .margin-2 {
        order: 3;
    }
    .margin-2 div {
        margin-bottom: 20px;
    }
    .margin-3 {
        order: 2;
    }
    .margin-3 div {
        margin-bottom: 0px;
    }
    .social-area {
        justify-content: space-between;
    }
    #sideMenu {
        width: 280px;
        max-width: 100%;
        right: -100%;
    }
    #sideMenu h2{
        font-size: 20px;
    }
    .policiesText {
        padding: 0px;
        font-size: 14px;
    }
}