* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
    transition: 0.4s;
}

main {
    width: 100%;
}

.box-size {
    width: 100%;
}

.content {
    width: 980px;
    max-width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display:flex;
}

.between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.verticalCenter {
    align-items: center;
}

.horizontalCenter {
    justify-content: center;
}

/* header styles */

.headerSection {
    background-color: rgba(26, 30, 31, 1);
}

.header {
    height: 84px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.list {
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.list a{
    text-decoration: white;
}

.list a:active{
    color: rgba(0, 173, 238, 1);
}

.list a:visited{
    color: rgba(0, 173, 238, 1);
}

.navContent {
    font-size: 16px;
    color: white;
    line-height: 26px;
}

.navContent:hover {
    color: rgba(0, 173, 238, 1);
    cursor: pointer;
}

/* image & about styles*/

.image-people {
    background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_980,h_352,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
    height: 352px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
    background-color: rgba(43, 43, 43, 1);
    padding: 70px 0px;
}

.text-section1-1 {
    font-size: 42px;
    color: rgba(244, 244, 244, 1);
    font-weight: 900;
}

.text-section1-2 {
    font-size: 28px;
    color: rgba(244, 244, 244, 1);
    line-height: 1.6em;
}

.text-section1-3 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
    color: rgba(0, 173, 238, 1);
    display: inline-block;
}

.text-section1-3:hover {
    color: rgba(85, 85, 85, 1);
    cursor: pointer;
}

/* courses  styles*/

.coursesSection {
    background-color: rgba(26, 30, 31, 1);
    padding: 30px 0px;
}

.courses-text {
    font-size: 24px;
    color: #DBDBDB;
}

.course-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 50px 0px;
}

.grid-item {
    width: 300px;
    height: 414px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.grid-image {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.grid-text {
    margin: 20px;
}

.grid-text-1 {
    height: 55px;
    font-size: 18px;
    color: #DBDBDB;
    font-weight: 500;
}

.grid-text-2 {
    margin-bottom: 40px;
    font-size: 14px;
    color: #DBDBDB;
    font-weight: 600;
}

.grid-text-3 {
    margin-top: 50px;
    font-size: 18px;
    color: rgba(0, 173, 238, 1);
    font-weight: 700;
}

.course-details {
    margin-left: 10px;
    padding-bottom: 9px;
}

.course-details:hover {
    color: rgba(0, 150, 200, 1);
    cursor: pointer;
}

/* partners section styles */

.questions-background {
    background-color: rgba(22, 22, 22, 1);
}

.questionsWidth {
    padding: 30px 40px;
}

.often {
    padding: 50px 50px 50px 0;
    color: #DBDBDB;
    font-size: 24px;
}

.allquestions {
    padding: 50px 0 50px 50px;
    font-size: 18px;
    color: rgba(0, 173, 238, 1);
    font-weight: 700;
}

.allquestions a:hover {
    color: rgba(85, 85, 85, 1);
    cursor: pointer;
} 
.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-section {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden; /* Hide overflow for smooth transition */
    transition: max-height 0.3s ease; /* Add a smooth transition effect */
}

.accordion-section-header {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
}

.accordion-section-content {
    max-height: 0;
    padding: 10px;
    overflow: hidden;
    display: none; /* Initially hide the content */
    transition: max-height 0.3s ease; /* Add a smooth transition effect */
}